* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap%27');

html {
    font-family: 'Oswald', sans-serif;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.spacebetween {
    display: flex;
    justify-content: space-between;
}

.center-in-row {
    display: flex;
    justify-content: center;
}

.center-in-col {
    display: flex;
    align-items: center;
}

.text-align-center {
    text-align: center;
}

.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.row-to-col {
    display: flex;
    flex-direction: row;
}

.pointer {
    cursor: pointer;
}

.gap {
    gap: 10px;
}

.gap35 {
    gap: 35px;
}

.pt-20 {
    padding-top: 20px;
}

.ml-35 {
    margin-left: 35px;
}

.margin-r-l {
    margin-right: 30px;
    margin-left: 10px;
}

.w-25 {
    height: 100%;
    width: 25%;
}

.w-20 {
    height: 100%;
    width: 22.3%;
}

.w-75 {
    height: 100%;
    width: 75%;
}

.w39 {
    width: 39%;
    height: 100%;
}

.h20 {
    height: 40%;
    width: 100%;
}

.h80 {
    height: 60%;
    flex: 100%;
}

.fullsize {
    width: 100%;
    height: 100%;
}

.mt-10 {
    margin-top: 10px;
}

.f18 {
    font-size: 18px;
}

.f14 {
    font-size: 14px;
}

.style-normal {
    font-weight: 500;
}

.style-Montserrat {
    font-family: 'Montserrat';
}

.b {
    font-weight: bold;
}

.style-Oswald {
    font-family: 'Oswald';
    font-weight: bold;
}

.yellow {
    background: #FFCB66;
}

.gray-bg {
    background-color: #2F4858;
}

.gray {
    color: #2F4858;
}

.white {
    color: #FFFFFF;
}

.white-bg {
    background: #FFFFFF;
}

.wrap {
    flex-wrap: wrap;
}

.container {
    height: 100%;
    width: 100%;
}

header {
    width: 1366px;
    min-height: 93px;
    max-height: 93px;
    z-index: 100;
    position: fixed;
    top: 0;
}

.header-location {
    color: #060606;
    width: 1366px;
    min-height: 93px;
    position: fixed;
    z-index: 100;
    font-size: 23px;
}

.header-links {
    text-decoration: none;
    color: #060606;
    margin-top: 0;
    margin-bottom: 0;
}

.header-links:hover {
    text-decoration-line: underline;
    text-decoration-color: #FFA800;
    text-decoration-thickness: 4px;
    text-underline-position: under;
    text-underline-offset: 8px;
}

.sparklVideo {
    background: url(../img/SparkleVideo.png);
    background-size: cover;
    background-position: center;
    min-height: 82.3vh;
    width: 1366px;
}

.circle {
    height: 83px;
    width: 86px;
    background: #FFA800;
    border-radius: 50%;
}

.triangle {
    position: relative;
    top: 28%;
    left: 38%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 1.2em 0 1.2em 1.8em;
    border-color: transparent #FFFFFF;
    border-radius: 5px;
}

.sparkl-box {
    width: 1366px;
    height: 411px;
}

.sparkl-text {
    width: 654px;
    height: 114px;
    font-size: 20px;
}

.gallery {
    width: 1366px;
    min-height: 383px;
}

.img {
    min-height: 383px;
    max-height: 383px;
    flex: 25%;
}

.half {
    height: 50%;
    flex: 100%;
}

.vector-yellow {
    width: 1366px;
    margin: 0;
    position: absolute;
    top: auto;
}

.vector-gray {
    width: 1366px;
    margin: 0;
}

.vector-start {
    width: 1366px;
    margin: 0;
    position: absolute;
    top: 95px;
}

.vector-up {
    position: absolute;
    margin: 0;
    width: 1366px;
    top: auto;
}

.vector-down {
    width: 1366px;
    position: relative;
    margin-top: -55px;
}

.dream {
    width: 1366px;
    margin-top: 174px;
}

.question {
    font-size: 24px;
}

.btn {
    width: 233px;
    height: 50px;
    background: #FFA800;
    border: none;
    border-radius: 20px;
    margin-top: 46px;
}

.contact-info {
    width: 1366px;
    height: 610px;
    margin-top: 245px;
    margin-bottom: 105px;

}

.contact-with-us {
    font-size: 30px;
    margin-bottom: 58px;
}

.short-input {
    width: 296px;
    min-height: 43px;
    background: rgba(196, 196, 196, 0.4);
    border-radius: 6px;
    border: 0;
    padding-left: 13px;
    margin: 5px;
    outline: none;
}

.medium-input {
    width: 612px;
    min-height: 43px;
    background: rgba(196, 196, 196, 0.4);
    border-radius: 6px;
    border: 0;
    padding-left: 13px;
    margin-top: 10px;
    outline: none;
}

.large-input {
    width: 612px;
    min-height: 232px;
    background: rgba(196, 196, 196, 0.4);
    border-radius: 6px;
    border: 0;
    margin-top: 16px;
    padding: 15px;
    padding-top: 10px;
    outline: none;
    text-decoration: none;
}

.required {
    font-weight: 400;
    width: 612px;
    margin-top: 18px;
}

.private-policy {
    font-weight: 400;
    min-width: 612px;
    max-width: 612px;
    height: 39px;
    margin-top: 33px;
    margin-left: 10px;
    display: flex;
    gap: 20px;
}

.accept-check {
    background: #E7E7E7;
    border-radius: 3px;
    border: none;
    width: 16px;
    height: 16px;
    appearance: none;
    vertical-align: middle;
    -webkit-appearance: none;
}

.accept-check:checked {
    background: #E7E7E7;
    border: none;
    border-radius: 2px;
    position: relative;
}

.accept-check:checked:after {
    content: "\2713";
    color: #2F4858;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.send-btn {
    font-size: 24px;
    margin-top: 145px;
    width: 182px;
    height: 62px;
    border: none;
    border-radius: 40px;
    background: #FFA800;
}

.yellow-container {
    width: 1366px;
    min-height: 507px;
}

.box-name {
    flex: 100%;
    min-height: 140px;
    font-size: 24px;
    align-items: flex-end;
}

.box-logo {
    flex: 100%;
    min-height: 312px;
    gap: 85px;
    padding-bottom: 60px;
}

.gray-container {
    width: 1366px;
    min-height: 324px;
}

.mini-info-box {
    flex: 22%;
    min-height: 324px;
    display: flex;
    justify-content: flex-end;
}

.mini-info-box-links {
    flex: 23%;
    min-height: 324px;
    padding-left: 80px;
}

.mini-info-box-bank {
    flex: 27%;
    min-height: 324px;
}

.mini-info-box-contact {
    flex: 28%;
    min-height: 324px;
    padding-left: 40px;
}

.copyright {
    height: 38px;
    width: 150px;
    margin-top: 73px;
    margin-bottom: 10px;
}

.links {
    margin-bottom: 22px;
    text-decoration: none;
}

.links:hover {
    text-decoration-line: underline;
    text-decoration-color: #FFA800;
    text-decoration-thickness: 4px;
    text-underline-position: under;
    text-underline-offset: 8px;
}

.first-link {
    margin-top: 20px;
    margin-bottom: 25px;
    text-decoration: none;
}

.first-link:hover {
    text-decoration-line: underline;
    text-decoration-color: #FFA800;
    text-decoration-thickness: 4px;
    text-underline-position: under;
    text-underline-offset: 8px;
}

.sparklHeart {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 24px;
}

.contact-box {
    align-items: flex-end;
    padding-right: 62px;
}

.contact-name {
    margin-top: 20px;
    margin-bottom: 18px;
    font-size: 24px;
}

.contact-data {
    margin-bottom: 12px;
}

.social-row {
    gap: 20px;
    margin-top: 38px;
    margin-bottom: 40px;
}

.policy {
    text-align: right;
    font-size: 16px;
}

.fa-facebook-f,
.fa-instagram {
    color: #FFFFFF;
}

.logosize {
    width: 159px;
    height: 93px;
}

.burger-conatainer {
    min-width: 320px;
    height: 93px;
    background-color: white;
  }

.topnav {
    position: relative;
    background-color: white;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: black;
    padding: 16px 16px;
    font-size: 17px;
    display: flex;
  }
  
  .topnav a.icon {
    color: black;
    display: block;
    position: absolute;
    right: 0;
    top: -75px;
  }

.fa-bars {
    color: black;
}

.burgermenu {
    height: 93px;
    width: 93px;
}


@media only screen and (max-width: 1366px) {

    .header,
    .header-location,
    .sparklVideo,
    .sparkl-box,
    .gallery,
    .vector-yellow,
    .vector-start,
    .vector-gray,
    .vector-up,
    .vector-down,
    .dream,
    .contact-info,
    .yellow-container,
    .gray-container {
        width: 1000px;
    }
}

@media only screen and (max-width: 1366px) {

    .vector-start {
        margin-top: 140px;
    }
}

@media only screen and (max-width: 1366px) {

    .vector-down {
        margin-top: -38px;
    }
}

@media only screen and (max-width: 1000px) {

    header,
    .header-location,
    .sparklVideo,
    .sparkl-box,
    .gallery,
    .vector-yellow,
    .vector-start,
    .vector-gray,
    .vector-up,
    .vector-down,
    .dream,
    .contact-info,
    .yellow-container,
    .gray-container {
        width: 700px;
    }
}

/* @media only screen and (max-width: 1000px) {
    header,
    .header-location,
    .gap35 {
        gap: 11px;
        font-size: 15px;
        min-height: 70px;
        max-height: 70px;
    }
} */

@media only screen and (max-width: 1000px) {

    .w-20 {
        width: 13.3%;
    }
}

@media only screen and (max-width: 1000px) {

    .vector-start {
        margin-top: 97px;
    }
}

@media only screen and (max-width: 1000px) {

    .vector-down {
        margin-top: -25px;
    }
}

@media only screen and (max-width: 700px) {

    header,
    .header-location,
    .sparklVideo,
    .sparkl-box,
    .gallery,
    .vector-yellow,
    .vector-start,
    .vector-gray,
    .vector-up,
    .vector-down,
    .dream,
    .contact-info,
    .yellow-container,
    .gray-container {
        width: 320px;
    }
}

@media only screen and (max-width: 700px) {

    .medium-input,
    .large-input,
    .required,
    .private-policy {
        width: 296px;
    }
}
@media only screen and (max-width: 700px) {

    .private-policy {
        min-width: 0;
    }
}

@media only screen and (max-width: 700px) {

    .send-btn {
        margin-top: 215px;
    }
}

@media only screen and (max-width: 700px) {

    .dream {
        flex-direction: column;
    }
}

@media only screen and (max-width: 1366px) {

    header,
    .header-location,
    .gap35,
    .vector-start {
        display: none;
    }
}

@media only screen and (max-width: 1366px) {

    .topnav {
        display: block;
    }
}

@media only screen and (max-width: 700px) {

    .vector-down {
        margin-top: -12px;
    }
}

@media only screen and (max-width: 320px) {

    header,
    .header-location,
    .sparklVideo,
    .sparkl-box,
    .gallery,
    .vector-yellow,
    .vector-start,
    .vector-gray,
    .vector-up,
    .vector-down,
    .dream,
    .contact-info,
    .yellow-container,
    .gray-container {
        width: 250px;
    }
}

@media only screen and (max-width: 320px) {

    .medium-input,
    .large-input,
    .short-input,
    .required,
    .private-policy {
        width: 250px;
    }
}

@media only screen and (max-width: 1366px) {

    .burger-conatainer {
        min-width: 1000px;
    }
}

@media only screen and (max-width: 1000px) {

    .burger-conatainer {
        min-width: 700px;
    }
}

@media only screen and (max-width: 720px) {

    .burger-conatainer {
        min-width: 320px;
    }
}

@media only screen and (max-width: 320px) {

    .burger-conatainer {
        min-width: 250px;
    }
}
